<h1>Edit Kitten</h1>

<%= render "form", kitten: @kitten %>

<%= link_to "Destroy", kitten_path(@kitten), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>